<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
      <nav id="sub-nav">
        <a id="nav-fb-link" class="nav-icon" href="https://www.facebook.com/Simple-Conspiracy-287552354916341/"></a>
        <a id="nav-twitter-link" class="nav-icon" href="https://twitter.com/simpleconspirac"></a>
      </nav>
    </div>
  </div>
</footer>
